.child {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.role-header {
    font-family: 'Press Start 2P', cursive;
    color: #919117;
    padding-right: 25px;
}

.thumbs {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.image-icon {
    max-width: 75px;
    max-height: 45px;
}

.bottom-line {
    position: absolute;
    bottom: 15px;
    align-items: end;
}
.main {
    background-image: url("../vector/png/background.png");
    background-size: 100%;
    min-height: 500px;

}
